<launch>
    <arg name="pointcloud_topic" default="/red/camera/depth_registered/points" />
	<arg name="publishing_frame" default="world" />
	<arg name="base_frame" default="red/base_link" />

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<remap from="cloud_in" to="$(arg pointcloud_topic)" />

		<param name="frame_id" type="string" value="$(arg publishing_frame)" />
		<param name="resolution" value="0.05" />	
		<param name="base_frame_id" value="$(arg base_frame)" />	
		<param name="sensor_model/max_range" value="5.0" />
		<param name="occupancy_min_z" value="0.5" />
	</node>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find drone_controller)/src/integration/config/mapping.rviz" />
</launch>