<launch>
    <arg name="robot_ns" default="/red" />
    <group ns="navigation">
        <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" respawn="true" >
            <param name="frame_id" value="world" />
            <param name="occupancy_min_z" value="1" />

            <remap from="cloud_in" to="$(arg robot_ns)/camera/depth_registered/points" />
        </node>

        <include file="$(find drone_config)/launch/demo.launch" />

        <node pkg="drone_controller" type="moveit_planning.py" name="moveit_planning" respawn="true" output="screen">
            <remap from="odom" to="$(arg robot_ns)/odometry" />
            <remap from="trajectory" to="$(arg robot_ns)/tracker/input_trajectory" />
        </node>
    </group>
</launch>